*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

p{
    color:#133337;
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    font-family: 'Noto Sans TC', sans-serif;
}

.bg-primary {
    background-color: black !important;
    background-image: url(../assets/img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }

.p{
    background-color: #daa551;
}

body {
        font-family: 'Noto Sans TC', sans-serif;
}

.expedu_icon {
    color: blue
}
