*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

p.redred{
    color:red;
    font-size: 100px;
    text-align: left;
    text-indent: 2em;
    background-color: #F0FFFF;
    font-family: 'Noto TC',sans-serif;
}

.blueblue{
    color:blue;
}


body {
        font-family: 'Noto Sans TC', sans-serif;
}