body{
    background-color:beige;
    margin:0;
    padding:0;
    animation: background-color infinite 10s;
}
h3{
    font-family: FangSong;
    font-size: 36px;
    color: black;
    background-color: #97FFFF;
   
}
p{
    font-family: FangSong;
    font-size: 26px;
    color: black;
    text-indent: 2em;
}
